
html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    margin: 0px 0px 0px 0px;
    background-color: black;
}



header{
    margin-top: 0%;
    display: flex;
    background-color: black;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 2%;
}

header h1 {
    color: white;
    justify-content: center;
    font-size: 3.5rem;
    padding: 10px;
    margin: auto;
    font-family: voltage, sans-serif;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    height: 30%;
    margin:auto;
   
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 2.5rem;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: darkgrey;
  }
  



  

  #Home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 80vw;
}
.slide-show{
   /* height: 80vh;     */
}

#Home h2{
    font-size: 2rem;
    color: white;

}

#Home p{
    margin-top: 2.5%;
}

#Home img{
    width: 100%;
}

.mySlides{
    display:none;
    width: 100%;
    border-radius: 15px;

}

#About{
    border-bottom: solid white;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
     margin-left: 5%;
     margin-right: 5%;
      margin-top: 5%;
      width: 80vw;
    
}

h2{
    font-size: 2.5rem;
}

p{
    font-size: 1rem;
    text-indent: 1rem;
}

#MyWork{
    border-bottom: solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
     margin-top: 5%;
     width: 80vw;
}

#MyWork h2{
     margin-bottom: 5%;
}


.image-grid{
    border-radius: 15px;
    

}



.flex-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding:2.5%;
  }
  .col {
    flex: 1;
    padding-left: 1%;
    padding-right: 1%;
    width: 32%
    
  }
  

.flex-grid .col{
    width: 32%;
    transition: width 2s, height 2s, transform 2s;
}

.col :hover{
display: none;
width: 100%;     
    
}

@media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
  }

#Contact{
    border-bottom: solid white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
     margin-top: 5%;
     width: 80vw;
}



@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}

footer{
    
}